<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<nav class="navbar navbar-expand-lg navbar-fixed-top navbar-light bg-primary ">
    <div class="container-fluid">
      <div class="navbar-header">

        <% if @is_instructor || current_user.present? %>
          <%= link_to user_path(current_user) do %>
            <%= image_tag "HBC.png", style: 'width: 75px; margin-right: 15px;'%>
          <% end %>
          
          <%= link_to 'Home', user_path(current_user), class: 'navbar-brand', style: 'color: white; float:none', :method => :get %>
        <% end %>

       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="glyphicon glyphicon-menu-hamburger" style="color: white;"></span>
       </button>
      </div>

 

      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
            <% if @is_instructor %>
              <li><%= link_to 'My Profile', profile_path, style: 'color: white' %></li>
              <li><%= link_to 'Refer Instructor', instructor_referral_path, style: 'color: white' %></li>
              <li><%= link_to 'View Trainees', view_trainees_path, style: 'color: white' %></li>
            <% elsif current_user.present? %>
              <li><%= link_to 'My Profile', trainee_profile_path, style: 'color: white' %></li>
            <% end %>
            <li><%= link_to "Sign Out", signout_path,style: 'color: white', method: :get %></li>
        </ul>
      </div>

    </div>
</nav>