<div class="row" style="height: 80px">
  <%= render 'main/navbar' %>
</div>

<style>
  .profile-box {
    @media (max-width: 767px) {
      overflow: hidden;
      max-width: 90%;
      padding: 10px;
    }
    @media (min-width: 768px) {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
      border-radius: 10px; 
    }
  }
  .profile-attribute {
    color: #0080ff; 
    display: inline-block; 
    text-align: left;
    font-size: 16px;
    @media (min-width: 768px) {
      width: 150px; 
      font-size: 24px;
    }
  }

  .profile-text {
    display: inline-block;
    @media (max-width: 768px) {
      font-size: 16px;
    }
  }
</style>
<% if flash[:notice] %>
  <div class="alert alert-success text-center">
    <%= flash[:notice] %>
  </div>
<% elsif flash[:alert] %>
  <div class="alert alert-danger text-center">
    <%= flash[:alert] %>
  </div>
<% end %>

<div class="container" >
  <div class="card profile-box">
    <h1 class="card-header text-center mb-0" ">Instructor Profile
    <%= image_tag "instructor.png", style: 'width: 75px'%></h1>

    <div class="card-body" style="padding: 2%;">
      <div class="row" >        
          <div >
            <h3 class="profile-attribute" >Email:</h3>
            <h3 class="profile-text" ><%= @user.email %></h3>
          </div>
          <div >
            <h3 class="profile-attribute">First Name:</h3>
            <h3 class="profile-text" ><%= @instructor.first_name %></h3>
          </div>
          <div >
            <h3 class="profile-attribute">Last Name:</h3>
            <h3 class="profile-text" ><%= @instructor.last_name %></h3>
          </div>
      </div>
    </div>
    <div class="card-footer text-center" style="margin-bottom:2%">
      <%= link_to "Edit Profile", edit_profile_path(@user.id), class: "btn btn-primary" %>
    </div>
  </div>
</div>

<div style="position: fixed; bottom: 30px; right: 20px;">
  <% if current_page?(controller: 'profiles', action: 'show') %>
    <a href="<%= root_path %>" class="btn btn-primary back-btn" style="width: 8rem; height: 4rem; padding: 0.8% 0.3%; margin-right: 2rem; line-height: 3.5rem;">Back</a>
  <% else %>
    <a href="<%= url_for(:back) %>" class="btn btn-primary back-btn" style="width: 8rem; height: 4rem; padding: 0.8% 0.3%; margin-right: 2rem; line-height: 3.5rem;">Back</a>
  <% end %>
</div>