<style>
  .welcome-message h4 {
    color: black;
  }
  .create-challenge-btn {

    @media (max-width: 1023px) {
      padding: 2rem 5rem 2rem 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @media (min-width: 1024px) {
      position: fixed;
      bottom: 2rem;
      right: 2rem;
    }
  }
  .indiChallenge {
    overflow: hidden;
    margin: 1% 0;
    background: #fcfdfe;
    border-radius: 5px;
    opacity: 0.8;
  }
  .challenge-content {
    padding: 0 1% 1% 1%
  }
  .indiChallenge:hover {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: background-color 0.3s ease;
  }
  body {
    background-image: url('<%= asset_path('past.jpeg') %>');
    background-size: cover;
    background-position: center 30px;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
</style>

<%= render 'main/navbar' %>
<div class="container d-flex justify-content-center align-items-center vh-100 vw-100" style="margin-top:10vh">
  <div class="container d-flex justify-content-center welcome-message mt-4" style="width: fit-content">
    <h3>Welcome, <%= @user_name_from_session %>!</h3>
  </div>

  <% if flash[:notice] %>
    <div class="alert alert-success text-center">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <div class="container">
    <div class="row" >
      <div class="col-md-6">
        <h1 style="font-weight: 500">Past Challenges</h1>
      </div>
      <div class="col-md-3 d-flex align-items-center" style="height: 80px">
        <div class="w-100" style="margin-top: 25px;">
          <a href="<%= instructor_path(@instructor) %>" class="btn btn-primary back-btn btn-block" style="padding: 0;">
            Show Ongoing Challenges <span style="font-size: 20px;">&#8674;</span>
          </a>
        </div>
      </div>
      <div class="col-md-3 d-flex align-items-center" style="height: 80px">
        <div class="w-100" style="margin-top: 25px;">
          <a href="<%= upcoming_challenges_instructor_path(@instructor) %>" class="btn btn-primary back-btn btn-block" style="padding: 0;">
            Show Upcoming Challenges <span style="font-size: 20px;">&#8608;</span> 
          </a>
        </div>
      </div>
    </div>

    <div class="d-flex flex-wrap justify-content-center">
      <% @challenges.each do |challenge| %>
        <div class="row indiChallenge">
          <div class="challenge-content">
            <a href="<%= challenge_path(challenge) %>" style="text-decoration: none;">
              <h2 style="font-size: 24px; font-weight: 500; color: black;"><%= challenge.name %></h2>
            </a>
            <p style="display: inline; margin-right: 3em">Start Date: <%= challenge.startDate %></p>
            <p style="display: inline">End Date: <%= challenge.endDate %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%= will_paginate @challenges %>
  <div class="create-challenge-btn">
    <a href="<%= new_challenge_path %>" class="btn btn-primary" style="width: 16rem; padding: 5% 2%">Create Challenge</a>
  </div>
</div>


<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    const b1 = document.getElementById('ongoing-challenge-btn');

    if (b1) {
      b1.addEventListener('click', function() {
        window.location.href = "<%= instructor_path @instructor.id %>";
      });
    }

    const b2 = document.getElementById('upcoming-challenge-btn');

    if (b2) {
      b2.addEventListener('click', function() {
        window.location.href = "<%= upcoming_challenges_instructor_path @instructor.id %>";
      });
    }
  });
</script>