<style>
  .indiChallenge {
    overflow: hidden;
    margin: 1% 0;
    background: #fcfdfe;
    border-radius: 5px;
    opacity: 0.8;
  }
  .challenge-content {
    padding: 0 1% 1% 0
  }
  .challenge-detail { 
    margin-left: 20px; 
  }
  .indiChallenge:hover {
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: background-color 0.3s ease;
  }
  body {
    background-image: url('<%= asset_path('past.jpeg') %>');
    background-size: cover;
    background-position: center 30px;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
</style>


<div>
  <div class="row" style="height: 80px">
   <%= render 'main/navbar' %>
  </div>

  <div class="container">
    <div class="row" style="height: 80px">
      <h2 style="font-weight: 500">Current Challenges</h2>
    </div>
    <% if @curr_challenges.empty? %>
      <p><i>No Current Challenges</i></p>
    <% else %>
      <% @curr_challenges.each do |challenge| %>
        <div class="card indiChallenge">
          <div class="card-body challenge-content" style="padding: 2px 12px 15px 18px; display: flex; justify-content: space-between; align-items: center;">
            <div class="row">
              <h4 class="card-title" style="font-size: 24px; font-weight: 500"><%= challenge.name %></h4>
              <p style="display: inline; margin-right: 3em">Start Date: <%= challenge.startDate %></p>
              <p style="display: inline">End Date: <%= challenge.endDate %></p>
            </div>

            <%= link_to 'Progress', trainee_challenge_progress_path(trainee_id: @trainee.id, challenge_id: challenge.id), class: 'btn btn-primary' %>

          </div>
        </div>
      <% end %>
    <% end %>


    <div class="row" style="margin-top: 20px;">
      <h2 style="font-weight: 500">Past Challenges</h2>
    </div>
    <% if @past_challenges.empty? %>
      <p><i>No Past Challenges</i></p>
    <% else %>
      <% @past_challenges.each do |challenge| %>
        <div class="card indiChallenge">
          <div class="card-body challenge-content" style="padding: 2px 12px 15px 18px; display: flex; justify-content: space-between; align-items: center;">
            <div class="row">
              <h4 class="card-title"  style="font-size: 24px; font-weight: 500"><%= challenge.name %></h4>
              <p style="display: inline; margin-right: 3em">Start Date: <%= challenge.startDate %></p>
              <p style="display: inline">End Date: <%= challenge.endDate %></p>
            </div>

            <!-- More buttons can be placed here -->
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
    <div style="position: fixed; bottom: 30px; right: 20px;">
      <a href="<%= view_trainees_path %>" class="btn btn-primary show-challenges-btn" style="width: 16rem; height: 4rem; padding: 1.2% 0.3%; line-height: 3.5rem;">Back to All Trainees</a>
    </div>
</div>

