<%= render 'main/navbar' %>

<div class="container">
  <div class="form-box">
    <div class="row">
      <div class="col-md-6 col-md-offset-3" style="margin-top: 10%;">
        <% if flash[:notice] %>
          <div class="alert alert-success text-center">
            <%= flash[:notice] %>
          </div>
        <% elsif flash[:alert] %>
          <div class="alert alert-danger text-center">
            <%= flash[:alert] %>
          </div>
        <% end %>

        <h2 style="font-weight: 500; padding: 0 0 3% 0">Create New Challenge</h2>
        <%= form_with model: @challenge, local: true do |form| %>
          <div class="form-field">
            <%= form.label :name, 'Challenge Name' %>
            <%= form.text_field :name, required: true, class: "form-control" %>
          </div>
          <br>

          <div class="form-field">
            <%= form.label :startDate, 'Start Date' %>
            <%= form.date_field :startDate, required: true, class: "form-control" %>
          </div>
          <br>

          <div class="form-field">
            <%= form.label :endDate, 'End Date' %>
            <%= form.date_field :endDate, required: true, class: "form-control" %>
          </div>
          <br>

          <div id="task-fields">
            <%= form.label :everyDay, 'Todo List Tasks' %> <button name="add-list" type="button" id="add-task-list-button" class="btn btn-success btn-circle"><span class="glyphicon glyphicon-plus" style="display: inline-block;"></span></button>
            <br>
               
            <div class="task-field">
              <div class="form-field">
                <label for="challenge_tasks_attributes_0_taskName">Additional Task Details</label>
                <br>
                <label for="challenge_tasks_attributes_${taskListIndex}_task_id">Select Task</label>
                <%= form.select :task_name, Task.where(saved_status: 1).pluck(:taskName, :taskName), { prompt: 'Select a task' }, { class: 'form-control', id: 'task-dropdown' } %>
                <input type="hidden" name="challenge[task_id]" id="challenge_task_id">
                <button type="button" id="manual-entry-button" class="btn btn-primary">Manual Entry</button>
                <div id="manual-entry" style="display: none;">
                  <input type="text" name="challenge[tasks_attributes][0][taskName]" id="challenge_tasks_attributes_0_taskName" class="form-control">
                </div>
                <a href="#" class="remove-task" data-index="${taskListIndex}">Remove Task</a>
              </div>
              
            </div>  
            <br>
            
            <div id="additional-task-lists"></div>
          </div>
          <br>
          
          <div class="form-field">
            <%= form.submit 'Create Challenge', class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const addTaskListButton = document.getElementById("add-task-list-button"); // Corrected to "add-task-list-button"
    const taskFields = document.getElementById("task-fields");
    const additionalTaskLists = document.getElementById("additional-task-lists");
    const manualEntryButton = document.getElementById("manual-entry-button");
    const taskDropdown = document.getElementById("task-dropdown");
    const manualEntryDiv = document.getElementById("manual-entry");
    const taskInputDiv = document.getElementById("task-input");

    let taskListIndex = 1; // Counter for additional task lists

    // Handle adding a new task list
    addTaskListButton.addEventListener("click", function() {
      const taskListForm = `<div class="task-field">
        <div class="form-field">
          <label for="challenge_tasks_attributes_${taskListIndex}_taskName">Additional Task Details</label>
          <input type="text" name="challenge[tasks_attributes][${taskListIndex}][taskName]" id="challenge_tasks_attributes_${taskListIndex}_taskName" class="form-control" required>

          <a href="#" class="remove-task" data-index="${taskListIndex}">Remove Task</a>
        </div>
      </div>`;

      additionalTaskLists.insertAdjacentHTML("beforeend", taskListForm);
      taskListIndex++;
    });

    // Handle removing tasks or task lists
    taskFields.addEventListener("click", function(e) {
      if (e.target.classList.contains("remove-task")) {
        e.preventDefault();
        const container = e.target.closest(".task-field");
        container.remove();
      }
    });
    
    // Handle switching to manual entry
    manualEntryButton.addEventListener("click", function() {
      if (manualEntryDiv.style.display === "none") {
        manualEntryDiv.style.display = "block";
        taskDropdown.style.display = "none";
        manualEntryButton.textContent = "Predefined Tasks";
      } else {
        manualEntryDiv.style.display = "none";
        taskDropdown.style.display = "block";
        manualEntryButton.textContent = "Manual Entry"
      }
    });

    // Handle drop down selection
    const form = document.querySelector("form");

    form.addEventListener("submit", function(event) {
      const taskNameField = document.getElementById("challenge_tasks_attributes_0_taskName");
      const selectedOption = taskDropdown.options[taskDropdown.selectedIndex];

      if (selectedOption.value !== "") {
        // If a task is selected from the dropdown menu, set the task ID to the selected option value
        taskNameField.value = selectedOption.value;
      } else {
        // If a task is manually entered, set the task name to the entered value
        document.getElementById("challenge_task_id").value = "";
        taskNameField.value = document.getElementById("challenge_tasks_attributes_0_taskName").value;
      }
    });
  

    // Initially set the "taskFields" to be visible
    taskFields.style.display = "block";
  });
</script>
