<div class="row" style="height: 80px">
  <%= render 'main/navbar' %>
</div>
<%= javascript_include_tag 'application' %>
<style>
  .btn-group .btn {
    margin-right: 10px; 
  }
  .btn-group .btn:last-child {
    margin-right: 0;
  }

  .trainee-row {
    padding: 10px; 
    @media (min-width: 1024px) {
      display: flex; 
      justify-content: space-between; 
      align-items: center;
    }
  }

  .nav-btn {
    @media (min-width: 1024px) {
      position: fixed; 
      bottom: 30px; 
      right: 20px;
    }
    @media (max-width: 1023px) {
      padding: 2rem 5rem 2rem 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  }
</style>

<%= render 'main/navbar' %>

<div class="container mt-4" style="margin-top: 5%;">
  <div class="row">
    <div class="col-md-4" >
      <h2 style="font-weight: 500">Trainee List</h2>
    </div>
    <div class="col-md-4">
        <h2>Challange: <%= @challenge.name %> </h1>
    </div>
    <div class="col-md-4">
        <h2>Total Count: <%= @trainees_ct %></h1>
    </div>
    </div>
    <div>
   
    </div>
    <div class="row">
    <div class="col-12">
        <div class="row">
          <% @trainees.each do |trainee| %>
            <div class="card" style="box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); border-radius: 5px">
              <div class="card-body trainee-row" >
                <h3 class="card-title"><%= trainee.user.id %>. <%= trainee.full_name %></h3>
                <div class="btn-group ml-auto" style="padding: 3px">
                  <%= link_to 'View Progress', graph_challenge_path(@challenge, trainee_id: trainee.id), class: 'btn btn-primary' %>
                  <%= link_to 'View TodoList', show_challenge_trainee_path(challenge_id: @challenge.id, trainee_id: trainee.id), class: 'btn btn-primary' %>
                  <%= link_to 'Delete', 
                  delete_trainee_challenge_path(@challenge,challenge_id: @challenge.id, trainee_id: trainee.id),
                  class: 'btn btn-danger',
                  id:"#{trainee.full_name.parameterize}_#{trainee.id}_delete_link"
                  %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <%= will_paginate @trainees %>
    </div>
  </div>
<div>

<div class="nav-btn" >
  <a href="<%= challenge_path(@challenge) %>" class="btn btn-primary back-btn" style="width: 8rem; height: 4rem; padding: 0.8% 0.3%; margin-right: 2rem; line-height: 3.5rem;">Back</a>
</div>
